/*
#054963
#1A1A1A
#FFFFFF
#ECECEC
#0CAFAC
*/

html {
    background-color: #054963;
    background-image: url('../images/backgroundtexture.png');
    font-family: Cuprum, sans-serif;
    font-size: 18px;
    position: relative;
}
.flexrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
}
.flexcolumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 95vh;
}
.aboutme .flexcolumn {
    height: 60vh;
    text-align: center;
}
.aboutme {
    padding: 0 1vw;
    margin-bottom: 6rem;
}
.wrapper {
    width: 95vw;
    background-color: #0CAFAC;
}
.leftpanel {
    display: none;
    background-color: #1A1A1A;
    color: #ECECEC;
}
.iconflexrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 28vw;
    font-size: 2.15rem;
}
.header h1 {
    font-variant: small-caps;
    margin: 7vh 0;
    width: 300px;
    font-size: 2rem;
    color: #ECECEC;
    text-shadow: 1px 1px 5px #1A1A1A;
}
h1,
.navlinks span {
    width: 150px;
    text-align: center;
    font-variant: small-caps;
    color: #054963;
}
nav {
    margin-bottom: 5vh;
}
a {
    text-decoration: none;
    color: #054963;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    font-size: 1.1rem;
    text-shadow: 0px 0px 10px #ECECEC;
}
a:visited {
    color: #054963;
}
a:hover {
    color: #ECECEC;
    text-shadow: 2px 2px 3px #1A1A1A;
}
a:active {
}
p {
    color: #1A1A1A;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
footer {
    position: absolute;
    bottom: 4vh;
    left: 0;
    width: 100%;
}
footer a {
    font-size: 1.75rem;
    color: #054963;
    text-shadow: 0px 1px 2px #ECECEC;
}
footer p {
    font-size: .75rem;
    font-variant: small-caps;
    margin: 0;
    margin-top: 1vh;
}

/* MEDIA QUERIES */
@media screen and (min-width: 760px) {
    html {
        font-size: 22px; /*so its good on ipad*/
    }
}
@media screen and (min-width: 800px) {
    .wrapper {
        width: 70vw;
    }
    .leftpanel {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 29vw;
        height: 97vh;
    }
    footer {
        width: 50vw;
        left: 40vw;
    }
}
@media screen and (min-width: 1000px) {
    html {
        font-size: 24px;
    }
}
@media screen and (min-width: 1200px) {
    .wrapper {
        width: 60vw;
    }
    .leftpanel {
        width: 39vw;
    }
    footer {
        width: 40vw;
        left: 50vw;
    }
}
